* {
  margin: 0;
  padding: 0;
}
.trafficlight {
  width: 100px;
  /* height: 200px; */
  border: 1px solid black;
  background-color: grey;
  /* margin: 0 auto; */
  margin-inline: auto;
  border-radius: 20px;
}
.trafficlight div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 20px auto;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.line {
  border: 4px solid black;
  height: 300px;
  width: 0px;
  margin: 0 auto;
}
.podstavka {
  border-radius: 50%;
  background-color: grey;
  border: 2px solid black;
  width: 150px;
  height: 30px;
  margin-inline: auto;
}
.trafficlight:hover div {
  background-color: grey;
}
